<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Login</title>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/Login-with-overlay-image.css">
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div class="container" id="main-wrapper">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="card border-0">
                        <div class="card-body p-0">
                            <div class="row no-gutters">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="mb-5">
                                            <h3 class="h4 font-weight-bold text-theme">Login</h3>
                                        </div>
                                        <h6 class="h5 mb-0">Welcome back!</h6>
                                        <p class="text-muted mt-2 mb-5">Enter your username and password to access
                                                                        dashboard.</p>
                                        <form>
                                            <div class="form-group">
                                                <label class="form-label">Username</label>
                                                <label for="exampleInputUsername"></label>
                                                <input
                                                        id="exampleInputUsername"
                                                        class="form-control form-control"
                                                        type="username"/>
                                                <div class="alert alert-warning" role="alert">
                                                    <i class="fa fa-warning" style="font-size: 20px;"></i>
                                                    <span class="text-warning margin-left"
                                                          style="margin: 0 0 0 10px;">
                                                        <strong>Warning:</strong>
                                                    </span>
                                                    <span class="text-warning margin-left"
                                                          style="margin: 0 0 0 10px;">Please provide username
                                                    </span>
                                                    <button type="button"
                                                            class="btn-close"
                                                            data-bs-dismiss="alert"
                                                            aria-label="Close"
                                                            style="position: relative; float: right;">
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="form-group mb-5">
                                                <label class="form-label">Password</label>
                                                <label for="exampleInputPassword"></label>
                                                <input
                                                        id="exampleInputPassword"
                                                        class="form-control form-control"
                                                        type="password"/>
                                                <div class="alert alert-warning" role="alert">
                                                    <i class="fa fa-warning"
                                                       style="font-size: 20px;">
                                                    </i>
                                                    <span class="text-warning margin-left" style="margin: 0 0 0 10px;">
                                                        <strong>Warning:</strong>
                                                    </span>
                                                    <span
                                                            class="text-warning margin-left"
                                                            style="margin: 0 0 0 10px;">Please provide username
                                                    </span>
                                                    <button type="button"
                                                            class="btn-close"
                                                            data-bs-dismiss="alert"
                                                            aria-label="Close"
                                                            style="position: relative; float: right;"></button>
                                                </div>
                                            </div>
                                            <button class="btn btn-theme" type="submit">Login</button>
                                            <a href="/hello"
                                               class="forgot-link float-right text-primary"
                                               style="padding-left: 0;margin-right: 10px;margin-left: 11px;">Forgot
                                                                                                             password?</a>
                                            <a href="/home" class="btn btn-theme" type="submit"
                                               style="margin-right: 0;">Main
                                                                        Page
                                            </a>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-none d-lg-inline-block"
                                     style="background-image:url(static/img/img.png);background-size:cover;">
                                    <div class="account-testimonial"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center text-muted mt-3 mb-0">Don't have an account? <a href="register.html"
                                                                                          class="text-primary ml-1">register</a>
                    </p>
                </div>
            </div>
        </div>
    </body>

</html>